.bg {
    -fx-background-image: url("../img/library.jpg");
    -fx-background-insets: -20, -10;
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

.active {
    -fx-text-fill: #ce5f5f;
}